<app-header-usuarrio></app-header-usuarrio>

<div class="cuadro-contenido">
    <section class="intro">
        <h1 class="titulo">Panel de Control</h1>
        <p class="bienvenida">
            Bienvenido a VC Eléctricos Construcciones S.A.S
        </p>
        <p>
            Aquí podrás acceder a todo el ecosistema digital empresarial y
            gestionar recursos según tu perfil.
        </p>
    </section>
    <section class="seccion">
        <h2 class="izquierda">Cotizaciones</h2>
        <div class="sub_boton">
            <button class="card" (click)="CrearCotizacion()">
                <i class="fas fa-file-circle-plus"></i>
                <h3>Nueva Cotización</h3>
            </button>
            <button class="card" (click)="GestionCotizaciones()">
                <i class="fas fa-eye"></i>
                <h3>Ver Cotizaciones</h3>
            </button>
            <button class="card">
                <i class="fas fa-edit"></i>
                <h3>Editar / Actualizar</h3>
            </button>
            <button class="card">
                <i class="fas fa-info-circle"></i>
                <h3>Estados Cotizaciones</h3>
            </button>
            <button class="card">
                <i class="fas fa-chart-line"></i>
                <h3>Seguimientos & Estadísticas</h3>
            </button>
        </div>
    </section>

    <section class="seccion">
        <h2 class="derecha">Cuentas de Cobro</h2>
        <div class="sub_boton">
            <button class="card"  (click)="CrearCuenta()">
                <i class="fas fa-file-invoice-dollar"></i>
                <h3>Nueva Cuenta de Cobro</h3>
            </button>
            <button class="card" (click)="GestionCuentasPagar()">
                <i class="fas fa-eye"></i>
                <h3>Ver Cuentas de Cobro</h3>
            </button>
            <button class="card">
                <i class="fas fa-edit"></i>
                <h3>Editar / Actualizar</h3>
            </button>
            <button class="card">
                <i class="fas fa-history"></i>
                <h3>Historial & Reportes</h3>
            </button>
        </div>
    </section>

    <section class="seccion">
        <h2 class="izquierda">Órdenes</h2>
        <div class="sub_boton">
            <button class="card">
                <i class="fas fa-plus-circle"></i>
                <h3>Nueva Orden</h3>
            </button>
            <button class="card">
                <i class="fas fa-tasks"></i>
                <h3>Ver Tareas Responsable</h3>
            </button>
            <button class="card">
                <i class="fas fa-calendar-alt"></i>
                <h3>Calendario</h3>
            </button>
            <button class="card">
                <i class="fas fa-clipboard-check"></i>
                <h3>Estado de Órdenes</h3>
            </button>
            <button class="card">
                <i class="fas fa-chart-bar"></i>
                <h3>Indicadores & Desempeño</h3>
            </button>
        </div>
    </section>

    <section class="seccion">
        <h2 class="derecha">Contratos</h2>
        <div class="sub_boton">
            <button class="card" (click)="CrearContrato()">
                <i class="fas fa-file-signature"></i>
                <h3>Nuevo Contrato</h3>
            </button>
            <button class="card" (click)="GestionarContratos()">
                <i class="fas fa-eye"></i>
                <h3>Ver Contratos</h3>
            </button>
            <button class="card">
                <i class="fas fa-sync-alt"></i>
                <h3>Renovar / Actualizar</h3>
            </button>
            <button class="card">
                <i class="fas fa-archive"></i>
                <h3>Archivados</h3>
            </button>
            <button class="card">
                <i class="fas fa-clock"></i>
                <h3>Estados & Vencimiento</h3>
            </button>
        </div>
    </section>
</div>

<app-footer-usuario></app-footer-usuario>
