<app-header-usuarrio></app-header-usuarrio>

<div class="layout">
    <app-menu-vertical></app-menu-vertical>

    <div class="contenido">
        <h1>Gestión de Contratos Laborales Empresa</h1>
        <p>Se mostrarán a continuación todos los Contratos que estan siendo gestionadas</p>

        <!-- FILTROS -->
        <div class="top-actions">
            <h4 style="margin:0; font-weight:600;">Buscar por:</h4>

            <div class="filters">
                <div class="opcion">
                    <label>ID</label>
                    <input type="text" placeholder="Buscar ID" />
                </div>

                <div class="opcion">
                    <label>Cliente</label>
                    <input type="text" placeholder="Buscar por cliente" />
                </div>

                <div class="opcion">
                    <label>Fecha</label>
                    <input type="date" />
                </div>
            </div>
            <button class="btn-primary" (click)="abrirFlotanteContrato()">Crear Contrato</button>
        </div>

        <div class="filtro-dashboard">
            <div class="filtro-opciones">
                <div class="filtro-item">
                    <span class="titulo">Todas</span>
                    <span class="contador"></span>
                </div>

                <div class="filtro-item pendiente">
                    <span class="titulo">Pendientes</span>
                    <span class="contador">

                    </span>
                </div>

                <div class="filtro-item pagado">
                    <span class="titulo">Pagadas</span>
                    <span class="contador">

                    </span>
                </div>
            </div>
        </div>

        <!-- TABLA -->
        <div class="card">
            <table class="cot-table">
                <thead>
                    <tr>
                        <th>ID Contrato</th>
                        <th>Trabajador</th>
                        <th>Sueldo</th>
                        <th>F. Expedicion</th>
                        <th>F. Iniciacion</th>
                        <th>Encargado</th>
                        <th>Estado</th>
                        <th>Cargo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    @for (contrato of contratos; track contrato.id_contrato) {
                    <tr>
                        <td>{{contrato.id_contrato}}</td>
                        <td>{{trabajadorMap.get(contrato.id_trabajador)?.nombre}}</td>
                        <td>{{contrato.sueldo | currency:'COP':'symbol':'1.0-0' }}</td>
                        <td>{{contrato.fecha_expedicion}}</td>
                        <td>{{contrato.fecha_iniciacion}}</td>
                        <td>{{trabajadorMap.get(contrato.id_trabajador_encargado)?.nombre}}</td>
                        <td><span [ngClass]="evaluarEstado(contrato.estado)">{{contrato.estado}}</span></td>
                        <td>{{contrato.cargo}}</td>
                        <td>
                            <button class="action-btn view" (click)="verContrato(contrato.id_contrato)">Ver</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <!--Seccion para mostrar un contrato con el flotante-->
        <app-ver-contratos [contrato]="contratoSeleccionado" [mostrar]="mostrarVerContrato" (cerrarModal)="mostrarVerContrato=false">
        </app-ver-contratos>



        <!-- Seccion para crear contrato -->
        <div class="modal-overlay" *ngIf="mostrarFlotanteContrato">
            <div class="modal-contrato">
                <div class="modal-header">
                    <h2>Crear Contrato</h2>

                    <button class="btn-secundario" (click)="crearTrabajador()">
                        + Crear Trabajador
                    </button>
                </div>

                <!-- INFORMACION EMPLEADO -->

                <div class="seccion-form">
                    <h3>Información del Empleado</h3>
                    <div class="grid-2">
                        <div class="form-group">
                            <label>Trabajador</label>
                            <select [(ngModel)]="nuevoContrato.contrato.id_trabajador" >
                                <option [ngValue]="null">Seleccione...</option>

                                @for (t of trabajadores; track t.id_trabajador) {
                                <option [ngValue]="t.id_trabajador">
                                    {{t.nombre}}
                                </option>
                                }

                            </select>
                        </div>

                        <div class="form-group">
                            <label>Fecha nacimiento</label>
                            <input type="date" [(ngModel)]="nuevoContrato.fecha_nacimiento">
                        </div>

                        <div class="form-group">
                            <label>Lugar nacimiento</label>
                            <input type="text" [(ngModel)]="nuevoContrato.lugar_nacimiento">
                        </div>

                        <div class="form-group">
                            <label>Edad</label>
                            <input type="number" [(ngModel)]="nuevoContrato.edad">
                        </div>

                        <div class="form-group">
                            <label>Estado civil</label>
                            <select [(ngModel)]="nuevoContrato.estadoCivil" >
                                <option value="Soltero">Soltero</option>
                                <option value="Casado">Casado</option>
                                <option value="Union Libre">Unión Libre</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- DETALLE CONTRATO -->

                <div class="seccion-form">

                    <h3>Detalle del Contrato</h3>

                    <div class="grid-2">

                        <div class="form-group">
                            <label>Cargo</label>
                            <input type="text" [(ngModel)]="nuevoContrato.contrato.cargo">
                        </div>

                        <div class="form-group">
                            <label>Sueldo</label>
                            <input type="text" [value]="formatearSueldo(nuevoContrato.contrato.sueldo)"
                             (input)="actualizarSueldo($event)">
                        </div>

                        <div class="form-group">
                            <label>Fecha expedición</label>
                            <input type="date" [(ngModel)]="nuevoContrato.contrato.fecha_expedicion">
                        </div>

                        <div class="form-group">
                            <label>Fecha inicio labores</label>
                            <input type="date" [(ngModel)]="nuevoContrato.contrato.fecha_iniciacion">
                        </div>

                        <div class="form-group">
                            <label>Tipo contrato</label>
                            <select [(ngModel)]="nuevoContrato.contrato.tipo_contrato">
                                <option value="Temporal">Temporal</option>
                                <option value="Indefinido">Indefinido</option>
                                <option value="Obra Labor">Obra Labor</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Estado</label>
                            <select [(ngModel)]="nuevoContrato.contrato.estado">
                                <option value="ACTIVO">Activo</option>
                                <option value="VENCIDO">Vencido</option>
                            </select>
                        </div>

                    </div>

                </div>

                <!-- REALIZADO POR -->

                <div class="seccion-form">
                    <h3>Realizado por</h3>
                    <div class="form-group">
                        <label>Trabajador encargado</label>
                        <select [(ngModel)]="nuevoContrato.contrato.id_trabajador_encargado">
                            <option [ngValue]="null">Seleccione...</option>
                            @for (t of trabajadores; track t.id_trabajador) {
                            <option [ngValue]="t.id_trabajador">
                                {{t.nombre}}
                            </option>
                            }

                        </select>
                    </div>

                </div>

                <!-- FOOTER -->

                <div class="modal-footer">
                    <button class="btn-cancelar" (click)="cerrarFlotanteContrato()">
                        Cancelar
                    </button>
                    <button class="btn-primary" (click)="guardarContrato()">
                        Guardar Contrato
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>