<div class="contenedor">
    <div class="Derecha">
        <div class="imagen-contenedor">
            <img class="portada-imagen" src="img/Elactricain.jpg" />
        </div>
    </div>
    <div class="Izquierda">
        <div class="logo">
            <img class="logo-vc" src="img/Logo-Original.png" />
        </div>
        <div class="formulario">
            <h1>CONECTATE</h1>
            <p>Bienvenido a VC Electricos Construcciones SAS</p>
            <form>
                <input type="text" placeholder="Usuario" />
                <input type="password" placeholder="Contraseña" />
                <a class="clave">¿Olvido su contraseña?</a>
                <p>________ or _________</p>
                <button class="boton-login" (click)="Entrar()">Login</button>
            </form>
            <div class="iconos">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-linkedin-in"></i>
            </div>
        </div>
    </div>
</div>